html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Bevan, sans-serif;
  text-align: center;
  color: #fff;
}

ul li {
  font-family: sans-serif;
}

.plans {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.plans li {
  display: inline-block;
  margin: 0 .5em 1em;
  max-width: 20em;
  padding: .6em;
  background-color: #713837;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  text-align: left;
}

.plans a:hover {
  background-color: #f33;
  color: #fff;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
}
